{% extends "layout.html" %}
{% block content %}

    <div class="container pt-3">

        <img class="img-thumbnail" src="{{ image_file }}" alt="">
        <div>
            <h2>{{ current_user.username }}</h2>
            <small>{{ current_user.email }}</small>
        </div>

        <div class="form-container pt-3">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Informations personnelles</legend>
                    <div>
                        {{ form.username.label(class="") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control col-md-6 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <small>
                                    {{ error }}
                                </small>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control col-md-6") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.email.label(class="") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control col-md-6 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <small>
                                        {{ error }}
                                    </small>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control col-md-6") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.picture.label }}
                        {{ form.picture(class='form-control-file') }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="py-3">
                    {{ form.submit(class="btn btn-info")}}
                </div>
            </form>
        </div>

    </div>


{% endblock %}
