{% extends "layout.html" %}
{% block content %}

    <div class="container pt-3">

        <div class="form-container">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>{{ legend }}</legend>
                    <div class="form-group">
                        {{ form.title.label(class="") }}
                        {% if form.title.errors %}
                            {{ form.title(class="form-control col-md-6 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    <small>
                                        {{ error }}
                                    </small>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.title(class="form-control col-md-6") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.content.label(class="") }}
                        {% if form.content.errors %}
                            {{ form.content(class="form-control col-md-6 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <small>
                                        {{ error }}
                                    </small>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.content(class="form-control col-md-6") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="py-3">
                    {{ form.submit(class="btn btn-info")}}
                </div>
            </form>
        </div>
    </div>


{% endblock %}
