{% extends "layout.html" %}
{% block content %}

    <article class="container pt-3">

        <h1>Home Page</h1>

        {% for post in posts.items %}

            <section class="home-article-container">
                <div class="home-article-info-container">
                    <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="{{ post.author.username + '-profile'}}">
                    <h2><a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a> de <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a></h2>
                </div>

                <div class="home-article-content">
                    <small>{{ post.date_posted.strftime("%d %b %Y") }}</small>
                    <p>{{ post.content }}</p>
                </div>
            </section>

        {% endfor %}

        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class="paginate-btn btn btn-secondary" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="paginate-btn btn btn-outline-secondary" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}

    </article>

{% endblock %}
