{% extends "layout.html" %}
{% block content %}

    <div class="container pt-3">

        <div class="form-container">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>S'authentifier</legend>
                    <div class="form-group">
                        {{ form.email.label(class="") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control col-md-6 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <small>
                                        {{ error }}
                                    </small>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control col-md-6") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control col-md-6 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <small>
                                        {{ error }}
                                    </small>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control col-md-6") }}
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                </fieldset>
                <div class="py-3">
                    {{ form.submit(class="btn btn-info")}}
                </div>
            </form>
        </div>

        <div>
            <small>
                Vous n'avez pas de compte ? <a href="{{ url_for('users.register') }}">S'enregistrer</a>
            </small>
        </div>

    </div>


{% endblock %}
