{% extends "layout.html" %}
{% block content %}

    <article class="container article-detail-container pt-3">

        <header class="article-detail-header">
            <h1>{{ post.title }} <span class="article-detail-author">de <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a></span></h1>
            <small>{{ post.date_posted.strftime("%d %b %Y") }}</small>
        </header>

        <div class="article-detail-content">
            <p>{{ post.content }}</p>
        </div>

        {% if post.author == current_user %}
            <a class="btn btn-info" href="{{ url_for('posts.update_post', post_id=post.id) }}">Modifier l'article</a>
            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#deleteModal">Supprimer</button>
        {% endif %}

    </article>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Voulez-vous vraiment supprimer cet article ?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="post">
                <input class="btn btn-danger" type="submit" value="Supprimer">
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
