{% extends "layout.html" %}
{% block content %}

    <div class="form-container container pt-3">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Rejoignez-nous Aujourd'hui !</legend>
                <div>
                    {{ form.username.label(class="") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control col-md-6 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                            <small>
                                {{ error }}
                            </small>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control col-md-6") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.email.label(class="") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control col-md-6 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <small>
                                    {{ error }}
                                </small>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control col-md-6") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.password.label(class="") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control col-md-6 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <small>
                                    {{ error }}
                                </small>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control col-md-6") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.confirm_password.label(class="") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control col-md-6 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <small>
                                    {{ error }}
                                </small>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control col-md-6") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="py-3">
                {{ form.submit(class="btn btn-info")}}
            </div>
        </form>

        <small>
            Vous avez déjà un compte ? <a href="{{ url_for('users.login') }}">S'authentifier</a>
        </small>

    </div>

{% endblock %}
