{% extends "layout.html" %}
{% block content %}

    <div class="container pt-3">
        <h1>Halte !</h1
        <p>Vous n'avez pas l'autorisation Delta nécessaire pour accéder à cette zone !</p>
    </div>


{% endblock %}
