{% extends "layout.html" %}
{% block content %}

    <div class="container pt-3">
        <h1>Désolé !</h1
        <p>Le monsieur qui vous distribue les pages est un peu fatigué, revenez quand il aura finis sa sièste</p>
        <p>Nos excuses !</p>
    </div>


{% endblock %}
