body {
    background-color: rgb(241, 241, 241);
    font-size: 18px;
}

h1 {
    color: rgb(20, 90, 99);

}

h2 {
    color: rgb(75, 155, 151);
}

p {
    color: rgb(66, 66, 66);
}

.paginate-btn {
    margin-top: 1rem;
    margin-left: 0,5rem;
    margin-right: 0,5rem;
    margin-bottom: 1rem;
}

/* Article Home Page  */

.home-article-container {
    margin-top: 3%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid #bf5f58;
    border-radius: 5px
}

.home-article-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    grid-gap: 2rem;
    text-align: center;
}

.home-article-info-container img {
    border: 3px solid grey;
    border-radius: 5px;
}

.home-article-info-container a {
    color: #145a63;
}

.home-article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
    grid-gap: 1rem;
}

.home-article-content small {
    color: #145a63;
}

/* Article Detail Page */

.article-detail-author {
    color: grey;
    font-size: 18px;
}

.article-detail-content {
    margin-top: 3rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid #bf5f58;
    border-radius: 5px;
    text-align: left;
}

.article-detail-content p {
    padding: 1rem;
    padding-left: 0.5rem;
}

.article-detail-container .btn {
    margin-top: 2rem;
}
